// .loading-false{
//   display: none;
//  }
 
//  .loading-true{
//   display: block;
//  }

#output{
  height: auto;
  width: 820px;
  background-color: #b7b7b7;
  margin: auto;
    
}

img{
  width: 200px;
    margin: auto;
}